.group {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}
#resultDisplay{
    margin-top: 20px;
    white-space: pre-wrap; 
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 1000px;
    max-height: 400px;
    overflow: auto;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}